//- includes/head.pug
head
  title My Site
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/app.js')
  script(src="https://d3js.org/d3.v4.min.js")
  script(src="https://d3js.org/d3-interpolate.v1.min.js")
